.BodyList::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}
@keyframes loader {
  from {
    background-color: gray;
  }
  to {
    background-color: rgba(31, 41, 55, 1);
  }
}
.AnimeList {
  animation: loader 2s infinite;
}

.upcomingUnderLine {
  background: linear-gradient(
    90deg,
    #048bca,
    #4475a0,
    #505a70,
    #3e4c5264,
    #000
  );
}
