.bottomShadow {
  position: relative;
}

.bottomShadow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  box-shadow: inset 0px -15px 30px rgba(31, 41, 55, 1);
  z-index: 1;
}
