@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(31, 41, 55);
  color: white;
  padding-bottom: 1.25rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: transparent rgb(96, 165, 250);
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

* {
  scroll-behavior: smooth;
}

.All::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.All::-webkit-scrollbar-thumb {
  background-color: rgb(16, 89, 153);
}

.Allside::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
}

@media (min-width: 768px) {
  .Allside::-webkit-scrollbar {
    height: 10px;
  }
  .Allside::-webkit-scrollbar-thumb {
    background-color: rgb(16, 89, 153);
  }
}

@keyframes loader {
  from {
    background-color: gray;
  }
  to {
    background-color: rgba(31, 41, 55, 1);
  }
}
.AnimeList {
  animation: loader 2s infinite;
  border-radius: 0.5rem;
}
@media (max-width: 500px) {
  .epList {
    justify-content: center;
  }
}

#my-video {
  width: 100%;
  height: 300px;
  min-height: 300px;
}

@media (min-width: 768px) {
  #my-video {
    height: 100%;
  }
  #container {
    height: 100dvh;
  }
}

.vjs-modal-dialog::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.vjs-modal-dialog::-webkit-scrollbar-thumb {
  background-color: rgb(16, 89, 153);
}

.vjs-modal-dialog-content {
  color: rgb(111, 111, 111);
  font-weight: bold;

  label {
    color: white;
  }
}
.vjs-default-button {
  padding: 2px 5px;
}
.vjs-done-button {
  padding: 2px 5px;
  background-color: rgb(96, 165, 250);
  background: transparent;
}

.vjs-menu-content {
  width: 200px;
  min-width: 200px;
  right: -60px;
  top: -180px;
  border: solid rgb(81, 81, 81);
  transition: all 0.5s;
}
.vjs-back-button::before {
  content: "⏪"; /* Backward icon */
  font-size: 16px;
}

.vjs-forward-button::before {
  content: "⏩"; /* Forward icon */
  font-size: 16px;
}

/* video::-webkit-media-text-track-display {
  bottom: 0px;
  position: absolute;
  border: solid;
} */
